@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extends";

@import "base/base";
@import "base/utilities";

@import "layout/header";
@import "layout/personal";
@import "layout/main";


/* CORE */
.core-header {
    position: fixed;
    width: 100%;
    height: $header-height;
    overflow: hidden;
    left: 0;
    z-index: 100;
    box-shadow: .2rem .2rem .8rem rgba(0,0,0,.2);
    background-color: white;
}

.core-personal {
    position: fixed;
    top: $header-height;
    height: 100%;
    left: 0;
    z-index: 100;
    width: $personal-width;
    border-right: 1px dotted rgba(0,0,0,.2);
}

%body {
    top: $header-height;
    height: 100vh;
    position: relative;
    padding: 1rem;
}

.core-body {
    @extend %body;
    margin-left: $personal-width;
}

.core-body-wide {
    @extend %body;
}

.core-view-before-sign-in {
    margin-right: 20%;
    height: 100%;
}
.core-view {
    margin-left: 14%;
    margin-right: 20%;
    height: 100%;
}
#core-question-list {
    position: fixed;
    height:100%;
    top: $header-height;
    right: 0;
    z-index: 100;
    width: 20%;
}
#folded-list {
    position: fixed;
    right: 0;
    z-index: 100;
}
