@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
* {
    font-family: 'Schoolbell', cursive;
    font-size: 30px;
}

/* CORE */
#core-header {
    position: fixed;
    width: 100%;
    height: 100px;
    overflow: hidden;
    left: 0;
    z-index: 100;
    background-color: white;
    border: 1px solid brown;
}
#core-navi {
    position: fixed;
    top: 100px;
    height: 100%;
    left: 0;
    z-index: 100;
    width: 20%;
    border: 1px solid cadetblue;
}

#core-body {
    top: 100px;
    height: 100vh;
    position: relative;
    margin-left: 20%;
    border: 1px solid blue
}
.core-view-before-sign-in {
    margin-right: 20%;
    height: 100%;
    border: 1px solid cornflowerblue;
}
.core-view {
    margin-left: 14%;
    margin-right: 20%;
    height: 100%;
    border: 1px solid darkkhaki;
}
#core-question-list {
    position: fixed;
    height:100%;
    top: 110px;
    right: 0;
    z-index: 100;
    width: 20%;
    border: 1px solid darkmagenta;
}
#core-view {
    margin: 10px;
    border: 1px solid yellowgreen;
}
#folded-list {
    position: fixed;
    right: 0;
    z-index: 100;
    border: 1px solid violet;
}