//google font - nanum gothic & lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nanum+Gothic:wght@400;700;800&display=swap');
//icon font
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 16px * 62.5 = 10px
}
body {
  font-family: $nanum-gothic;
}
table {
  margin: 2rem auto;
  width: 90%;
  border-spacing: 0 2.5rem;
  th {
    width: 15%;
  }
}
button {
  margin: 0 3rem;
  padding: .5rem 2rem;
  border-radius: 1rem;
  border-style: outset;
  background-color: lightgray;
}